# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
env/
venv/
.pytest_cache/
.coverage
htmlcov/

# --- VS Code (системные файлы редактора) ---
.vscode/
.history/
.DS_Store

# --- uv (инструменты управления зависимостями) ---
.python-version
uv.lock

# --- OS (системные файлы) ---
.DS_Store
Thumbs.db